* {
    margin: 0px;
    padding: 0px;
   
  }
  
  .row2 {
    padding-top: 80px;
  }
/* .comparision, */
.react-reveal.bottom-div{
    opacity:0;
}
.comparision-main-div {
    background-image: url("../media/partnerWave.d7be59db.png");
    background-position: 0px 280px;
    width: auto;
    height: auto;
  }
  .row{
      background:transparent;
      padding: 30px 0px;
  }
    .input1.form-control.textBlack{
        box-shadow: rgb(226 226 226 / 89%) 3px 5px 11px 3px;
        height: 50px !important;
        width: 100% !important;
   }
    .align-middle.to{
        color:black !important;
        text-align: center !important;
        padding-top: 15px !important;
    }
    .dropdownInput{
        box-shadow: rgba(226,226,226,0.89) 3px 5px 11px 3px !important;
        height: 50px !important;
    }
     .input2.form-control.textBlack{
        box-shadow: rgba(226,226,226,0.89) 3px 5px 11px 3px;
        height: 50px !important;
    }
    .margin-Top-comparision-form{
        height:50px !important;
    }
    .container3{
        background-color: transparent !important;
        margin-top: 30px !important;
    }
    .row.no-gutter{
        width: 100%;
        display: flex ;
        justify-content: center;
        margin-bottom: 30px  ;
        box-shadow: rgb(226 226 226 / 89%) 3px 5px 11px 3px ;
    }
    .no-gutter{
        margin-right: 0;
        margin-left: 0;
    }

    .instruct-heading{
        background-color: rgb(255, 255, 255);
    
    }
    .instruct-para{
        box-sizing: inherit;
        margin: 0px 0px 10px;
        padding: 0px;
        font-family: "lato-regular";
        color: rgb(122, 122, 122);
        font-size: 15px;
        text-align: justify;
        background-color: rgb(255, 255, 255);
    }
    .instruct-span{
        font-size:12pt;
         font-family: " lato", sans-serif;
    }
    
  .bottom-div {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    z-index: 1000;
    background-color: #33363b;
    padding: 0 50px;
  }
  .bottom-div .tab {
    align-items: center;
    display: flex;
    color: #fff;
    border-radius: 3px;
    background-color: #595a5c;
    padding: 7px 15px;
    margin: 0 10px;
  }
  .bottom-div .tab p {
    margin: 0;
  }
  .bottom-div a[type="button"] {
    color: #fff;
    border-radius: 3px;
    background-color: #fb0b26;
    padding: 7px 30px;
    margin: 0 10px;
  }
  .comparision-compare-icon-show{
    display: none;
  }
  .comparision-compare-text-show{
    display: flex;
  }
  @media(max-width: 960px){
    .bottom-div a[type="button"] {
      font-size: 12px;
    }
    .bottom-div .tab p {
      font-size: 12px;
      /* width: 150px;
      text-overflow: ellipsis;
      overflow: hidden; */
    }
    .bottom-div {
      padding: 0 10px;
    }
  }
  @media(max-width: 820px){
    .bottom-div a[type="button"] {
      font-size: 12px;
    }
    .bottom-div .tab p {
      font-size: 12px;
      white-space: nowrap;
      width: 100px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .bottom-div {
      padding: 0 10px;
    }
  }
  @media(max-width: 740px){
    .bottom-div a[type="button"] {
      font-size: 11px;
      padding: 7px 15px;
      margin: 0 8px;
    }
    .bottom-div .tab p {
      font-size: 11px;
      white-space: nowrap;
      width: 80px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .bottom-div {
      padding: 0 10px;
    }
    .bottom-div .tab {
      padding: 7px 8px;
      margin: 0 5px;
    }  
  }
  @media(max-width: 600px){
    .bottom-div a[type="button"] {
      font-size: 9px;
      padding: 7px 15px;
      margin: 0 8px;
    }
    .bottom-div .tab p {
      font-size: 9px;
      white-space: nowrap;
      width: 45px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .bottom-div {
      padding: 0 10px;
    }
    .bottom-div .tab {
      padding: 7px 8px;
      margin: 0 5px;
    } 
  }
  @media(max-width: 500px){
    .comparision-compare-icon-show{
      display: flex;
    }
    .comparision-compare-text-show{
      display: none;
    }
  }
  @media(max-width: 390px){
    .bottom-div a[type="button"] {
      font-size: 8px;
      padding: 7px 15px;
      margin: 0 5px;
    }
    .bottom-div .tab p {
      font-size: 8px;
      white-space: nowrap;
      width: 35px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .bottom-div {
      padding: 0 5px;
    }
    .bottom-div .tab {
      padding: 5px 5px;
      margin: 0 5px;
    } 
  }
  .comparision-main-div .Map {
    margin-top: 60px;
  }
  .Instructions .container1 .row {
    padding-top: 30px;
  }
  .instruct h1 {
    font-size: 70px;
    color: #e5e5e5;
    letter-spacing: -3px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  .instruct1 {
    height: 430px;
  }
  .img {
    width: 25px;
    margin: 0 auto;
  }
  
  .container1 {
    width: 86%;
    margin: 20px auto 20px auto;
  }
  
  .Instructions .container1 p {
    color: #7a7a7a;
    font-size: 15px;
    text-align: justify;
  }
  
  .picDivi {
    position: relative;
    width: 288px;
    height: 400px;
    margin: 25px auto 0px auto;
  }
  
  .picDivy img {
    width: 100%;
    height: 100%;
  }
  
  .picDivx {
    position: absolute;
    width: 110px;
    height: 370px;
    background-color: #ff002a;
    margin: -25px 0px 0px 210px;
  }
  
  .picDivy {
    position: absolute;
    width: 290px;
    height: 420px;
  }
  .picDivy:before {
    position: absolute;
    content: "";
    right: -30px;
    top: -25px;
    width: 110px;
    height: 370px;
    z-index: -1;
    background-color: #ff002a;
  }
  @media only screen and (max-width: 875px) {
    .picDivy:before {
      right: -20px;
      top: -15px;
      height: 270px;
    }
  }
  
  .locate h1 {
    transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    font-size: 48px;
    color: #b3b3b3;
    letter-spacing: -3px;
    font-weight: bold;
    height: 60px;
    width: 450px;
    margin-top: 180px;
    margin-left: -180px;
  }
  .location {
    position: absolute;
    top: 50%;
    left: 18%;
    width: 8%;
    height: auto;
  }
  .location2 {
    position: absolute;
    top: 14%;
    left: 77%;
    width: 8%;
    height: auto;
  }
  
  .mapouter {
    position: relative;
    text-align: right;
    height: 440px;
    width: 100%;
  }
  .gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 440px;
    width: 100%;
  }
  .gmap_canvas iframe {
    width: 100%;
    height: 440px;
    float: left;
  }
  .comparision {
    padding: 4% 0% 0% 0%;
  }
  
  .comparision-form-row {
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 30px;
    height: auto;
    background-color: #f90d26;
  }
  
  /* .comparision-form-row {
    padding: 30px 30px;
    height: auto;
    background-color: #f90d26;
  } */
  
  .comparision-form-row label {
    font-weight: bold;
    margin-right: 10px;
  }
  .label {
    text-align: center;
    background: transparent;
    color: #fff;
    font-size: 20px;
    margin-top: 30px;
    font-weight: normal;
    float: left;
  }
  .label label {
    padding-left: 0px;
  }
  
  .back-arrow-button {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: #fff;
    cursor: pointer;
    background-color: #f90d26;
    border: 1px solid #f90d26;
    margin: 0 0 3px -15px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
  }
  .back-arrow-button:hover {
    color: #f90d26;
    background-color: #fff;
    border: 1px solid #f90d26;
  }
  .reFormPortionDiv {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
  }
  .redFormItems {
    min-width: 80px;
    height: 100%;
  }
  .reFormPortionDiv .redFormItems label {
    color: #fff;
    font-size: 20px;
    font-family: "Lato-Regular";
    margin-right: 2%;
  }
  .form-control:disabled, .form-control[readonly] {
    background-color: white;
    opacity: 1;
  }
  .reFormPortionDiv .redFormItems .input1 {
    width: 70%;
    border: none;
  }
  .reFormPortionDiv .redFormItems .input1:focus,
  .reFormPortionDiv .redFormItems .input2:focus {
    outline: none;
    border: none;
    box-shadow: none;
  }
  .reFormPortionDiv .redFormItems .input2 {
    width: 100%;
    border: none;
    appearance: none;
    -webkit-appearance: none;
  }
  .reFormPortionDiv .redFormItems .dropdownInput {
    width: 85%;
    background-color: #fff;
    border: none;
    outline: none;
    /* -webkit-appearance: none; */
    /* -moz-appearance: none; */
    /* appearance: none; */
    -webkit-border-radius: 0; /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -moz-border-radius: 0; /* Firefox 1-3.6 */
    border-radius: 0; /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    /* background-image: url("../img/comparision/dropdown2.png"); */
    /* background-size: 3.5%; */
    /* background-repeat: no-repeat; */
    /* background-position: 275px 15px; */
  }
  .reFormPortionDiv .redFormItems .dropdownInput option {
    border: none;
  }
  @media only screen and (max-width: 1320px) {
    .reFormPortionDiv .redFormItems .dropdownInput {
      background-position: 265px 15px;
    }
  }
  @media only screen and (max-width: 1275px) {
    .reFormPortionDiv .redFormItems .dropdownInput {
      background-position: 255px 15px;
    }
  }
  @media only screen and (max-width: 1230px) {
    .reFormPortionDiv .redFormItems .dropdownInput {
      background-position: 245px 15px;
    }
  }
  @media only screen and (max-width: 1190px) {
    .reFormPortionDiv .redFormItems .dropdownInput {
      background-position: 235px 15px;
    }
  }
  @media only screen and (max-width: 1150px) {
    .reFormPortionDiv .redFormItems .dropdownInput {
      background-position: 225px 15px;
    }
  }
  @media only screen and (max-width: 1110px) {
    .reFormPortionDiv .redFormItems .dropdownInput {
      background-position: 215px 15px;
    }
  }
  @media only screen and (max-width: 1060px) {
    .reFormPortionDiv .redFormItems .dropdownInput {
      background-position: 205px 15px;
    }
  }
  @media only screen and (max-width: 730px) {
    .reFormPortionDiv .redFormItems .dropdownInput {
      background-position: 97% 15px;
    }
  }
  .reFormPortionDiv .redFormItems .comparision-form-btn {
    min-width: 120px;
    max-width: 100%;
  }
  .reFormPortionDiv .redFormItems .comparision-form-btn:focus {
    outline: none;
  }
  #redFormItem2 {
    flex: 0.4;
  }
  #redFormItem3 {
    flex: 0.5;
  }
  .redFormItems .to {
    margin-left: 15px;
  }
  
  .to {
    padding-left: 40px;
  }
  .input1 {
    width: 166px;
  }
  .input2 {
    width: 165px;
  }
  .form-control {
    border-radius: 0px;
    border-bottom: 2px solid white;
    color: white;
  }
  
  @media only screen and (min-width: 300px) and (max-width: 3000px) {
    .comparision-form-row {
      padding: 30px 30px;
      height: auto;
      background-color: #f90d26;
    }
  
    .reFormPortionDiv {
      display: flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      justify-content: space-between;
      width: 100%;
      padding: 5px;
    }
    .redFormItems {
      min-width: 80px;
      height: 100%;
    }
    .reFormPortionDiv .redFormItems label {
      color: #fff;
      font-size: 20px;
      font-family: "Lato-Regular";
    }
    .reFormPortionDiv .redFormItems .to {
      flex: 2;
      padding: 0;
      margin-left: 0;
    }
    .reFormPortionDiv .redFormItems .from {
      width: 21%;
      margin-right: 4%;
    }
    .reFormPortionDiv .redFormItems .input1 {
      width: 70%;
      height: 39px;
      margin-right: 4%;
      color: #a3a3a3 !important;
      text-indent: 20px;
    }
    .reFormPortionDiv .redFormItems .input2 {
      width: 70%;
      height: 39px;
      text-indent: 20px;
      margin: 0 1%;
      color: #a3a3a3 !important;
      font-weight: 500;
      appearance: none;
      -webkit-appearance: none;
    }
    .reFormPortionDiv .redFormItems .input2::placeholder {
  
      text-indent: 20px;
      color: #a3a3a3 !important;
      font-weight: 500;
    }
  
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  
    /* Firefox */
    input[type="number"] {
      -moz-appearance: "textfield";
    }
    .comparision-form-table-btn{
      padding: 10px 100px; 
      height: 50px;
      border: 1px solid black !important; 
      background: black; 
      color: white;
      transition: 80ms;
    }
    .comparision-form-table-btn:hover{
      background: #f90d26; 
      color: #fff;
      border: 1px solid black; 
      transform: scale(1.1);
      transition: 500ms;
  
    }
    @media(max-width:1050px){
      .comparision-form-table-btn{
        padding: 10px 70px; 
      }
    }
    @media(max-width:730px){
      .margin-Top-comparision-form{
        margin-top: 20px;
    }
    }
    .reFormPortionDiv .redFormItems .dropdownInput {
      color: #a3a3a3;
      font-weight: 500;
      width: 85%;
      height: 40px;
      height: 39px;
      text-indent: 20px;
      border-radius: 0;
      -webkit-border-radius: 0;
    }
    .reFormPortionDiv .redFormItems .comparision-form-btn {
      min-width: 120px;
      max-width: 100%;
      width: 70%;
      height: 39px;
      border: 0px solid black;
      color: #fff;
      background-color: #000;
      border-radius: 0px;
      font-size: 20px;
      font-weight: bold;
      margin-top: 0px;
      margin-left: 0px;
    }
  
    #redFormItem1 {
      flex: 0.4;
      display: flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      justify-content: space-between;
    }
    #redFormItem2 {
      flex: 0.45;
      display: flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      justify-content: space-between;
    }
    #redFormItem3 {
      flex: 0.5;
    }
    #redFormItem4 {
    }
  }
  @media only screen and (min-width: 500px) and (max-width: 991px){
    #redFormItem1 {
      flex: 0.3;
    }
    #redFormItem2 {
      flex: 0.4;
    }
    .comparision-form-table-btn {
      padding: 10px 40px;
  }
  .reFormPortionDiv .redFormItems .input2 {
    width: 90%;
    text-indent: 15px;
  }
  
  }
  @media only screen and (min-width: 300px) and (max-width: 1020px) {
    .reFormPortionDiv .redFormItems .input1 {
      width: 68%;
      margin-right: 2%;
    }
    #redFormItem2 {
      flex: 0.3;
    }
    #redFormItem3 {
      flex: 0.3;
    }
    #redFormItem4 {
    }
  }
  @media only screen and (min-width: 300px) and (max-width: 730px) {
    .reFormPortionDiv {
      flex-direction: column;
    }
  
    .reFormPortionDiv .redFormItems .input1 {
      width: 100%;
      margin: 1% 1% 0 1%;
    }
    .reFormPortionDiv .redFormItems .input2 {
      float: right;
      width:98%;
      margin: 1% 1% 0 1%;
    }
    .reFormPortionDiv .redFormItems .dropdownInput {
      width: 100%;
      margin: 1% 1% 0 1%;
    }
    .reFormPortionDiv .redFormItems .comparision-form-btn {
      width: 70%;
      float: right;
      margin: 1% 1% 0 1%;
    }
  
    .reFormPortionDiv .redFormItems .to {
      flex: 2;
      padding: 0;
      margin: 2% 0 0 5%;
    }
    .reFormPortionDiv .redFormItems .from {
      width: 21%;
      margin: 2% 0 0 5%;
    }
  }
  
  @media only screen and (min-width: 200px) and (max-width: 430px) {
    .comparision-form-row {
      padding: 20px 10px;
    }
  }
  
  .img_class {
    height: 110px;
    width: 110px;
  }
  .mt8px {
    margin-top: 8px;
  }
  .comparision-form-btn {
    border: 0px solid black;
    color: #fff;
    background-color: #000;
    border-radius: 0px;
    width: 120px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
  }
  .comparision_table {
    float: left;
  }
  .comparision-form-row2 {
    padding: 20px 30px 20px 30px;
    height: auto;
    background-color: #cfcdcd;
  }
  .comparision-form-row2 .input-search-div {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: space-between;
    width: 100% !important;
    height: 30px;
    border-radius: 6px;
  }
  .comparision-form-row2 .input-search {
    width: 100% !important;
    height: 30px;
    text-indent: 14px;
    border-radius: 6px 0 0 6px;
    background-color: #f0f0f0;
    border: 1px solid #f0f0f0;
  }
  .comparision-form-row2 .input-search::placeholder {
    color: gray;
  }
  .comparision-form-row2 .input-search:focus {
    outline: none;
    border: none;
  }
  .comparision-form-row2 .search-icon-div {
    width: 40px;
    height: 30px;
    border-radius: 0 6px 6px 0;
    background-color: #f0f0f0;
    background-image: url("../media/search1.png");
    background-position: 0px 5px;
    background-size: 60%;
    background-repeat: no-repeat;
  }
  .opt {
    float: left;
  }
  .comparision-form-row2 .dropdownsC {
    width: 100%;
    height: 30px;
    color: gray;
    text-indent: 10px;
    border: none;
    border-radius: 6px;
    background-color: #f0f0f0 !important;
    background-image: none;
    text-rendering: unset;
    text-shadow: unset;
    display: unset;
    box-sizing: unset;
    padding: 0;
  }
  .comparision-form-row2 .dropdownsC:focus {
    outline: none;
    border: none;
  }
  .comparision-form-row2 .dropdownsC::placeholder {
    color: gray;
  }
  @media only screen and (max-width: 1350px) {
    .comparision-form-row2 .dropdownsC {
      background-position: 270px 11px;
    }
  }
  @media only screen and (max-width: 1300px) {
    .comparision-form-row2 .dropdownsC {
      background-position: 260px 11px;
    }
  }
  @media only screen and (max-width: 1200px) {
    .comparision-form-row2 .dropdownsC {
      background-position: 240px 11px;
    }
  }
  @media only screen and (max-width: 1100px) {
    .comparision-form-row2 .dropdownsC {
      background-position: 220px 11px;
    }
  }
  @media only screen and (max-width: 1110px) {
    .comparision-form-row2 .dropdownsC {
      background-position: 200px 11px;
    }
  }
  @media only screen and (max-width: 920px) {
    .comparision-form-row2 .dropdownsC {
      background-position: 180px 11px;
    }
  }
  @media only screen and (max-width: 830px) {
    .comparision-form-row2 .dropdownsC {
      background-position: 120px 11px;
    }
  }
  @media only screen and (max-width: 768px) {
    .comparision-form-row2 .dropdownsC {
      background-position: 270px 11px;
      background-position: 420px 12px;
      background-size: 2%;
    }
    .comparision-main-div .Map {
      margin-top: 0px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .comparision-form-row2 .dropdownsC {
      margin: 10px 0px 0px 0px;
    }
  }
  /* comparision table*/
  .small_table {
    display: none;
  }
  .comparision-form-row3_col {
    text-align: center;
    font-weight: bold;
    color: #555555;
    padding: 15px 0px;
  }
  .comparision-form-row3 {
    background-color: #f0f0f0;
    background-image: url("../media/table-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 400px;
  }
  .comparision-form-row3 table tbody tr td p {
    font-size: 13px;
  }
  .comparision-form-row3 table tbody tr td div {
    cursor: pointer;
  }
  .comparision-form-row3 table tbody tr .small2 {
    text-decoration: none;
  }
  .comparision-form-row3 table .logo-in-small-size {
    font-size: 12px;
    margin-top: 5px;
  }
  .comparision .fa-map-marked-alt {
    font-size: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .comparision .fa-map-marked-alt:hover {
    color: #f90d26;
  }
  .location-viewer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .location-viewer {
    width: 800px;
    height: 530px;
    background-color: #fff;
    border: 1px solid #fff;
    padding: 20px 30px 30px 30px;
  }
  .location-viewer .fa-times {
    font-size: 20px;
    padding-bottom: 4px;
  }
  .location-viewer h5 {
    font-size: 25px;
    color: #b3b3b3;
    letter-spacing: -1px;
    font-weight: bold;
  }
  .mapouter {
    position: relative;
    text-align: right;
    height: 480px;
    width: 760px;
  }
  .gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 480px;
    width: 760px;
  }
  
  @media only screen and (max-width: 680px) {
    .table-container {
      width: 100% !important;
      overflow: scroll;
      margin: 0 auto !important;
    }
  }
  .add-to-table-div {
    margin: 10px 0;
  }
  .rai-activity-indicator {
    padding: 60px 0px 40px 0 !important;
  }
  .container .comparision-form-row3 .row .comparision-form-row3_col h6 {
    font-weight: bold;
  }
  .com_sec4 {
    width: 102.7%;
    background-color: #f0f0f0;
    padding-bottom: 8px;
    padding-left: 25px;
    padding-top: 10px;
    margin-left: -15px;
    text-align: center;
  }
  .com_sec4_line1 {
    background-color: #f7f7f7;
    margin-top: 12px;
    margin-right: 10px;
    padding: 30px 0px 15px 0px;
  }
  .com_sec4_line1_col1 {
    padding: 0px 0px 0px 0px;
  }
  .com_sec4_line1_col1_text {
    color: #a8a8a8;
  }
  .com_sec4_line1_col h6 {
    color: #a8a8a8;
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
  }
  .com_sec4_line1 button {
    border: none;
    font-size: 1.125em;
    background-color: #f90d26;
    color: #ffffff;
    padding: 10px 30px;
    margin-top: 20px;
  }
  
  .com_sec4_line1_col7_row1 img {
    padding-right: 10px;
  }
  .com_sec4_line1_col7_row1 a {
    font-size: 12px;
    padding: 20px 0px;
    color: #a1a1a1;
  }
  .com_sec4_line1_col7_row2 img {
    padding-right: 5px;
    padding-bottom: 2px;
  }
  .com_sec4_line1_col7_row2 a {
    font-weight: bold;
    font-size: 17px;
    letter-spacing: -1px;
    padding: 10px 0px;
    line-height: 50px;
    color: #b3b3b3;
  }
  .com_sec4_line1_col7_row3 p {
    font-size: 14px;
    font-weight: bold;
    color: #2588fe;
    margin-bottom: 0px;
  }
  /* comparision table starts */
  .container3 {
    width: 90%;
    max-width: 1250px;
    margin: 0 auto;
  }
  .comparision-table {
    color: #555555;
    padding: 0 50px 60px 50px;
  }
  .comparision-table table {
    border: 0;
    margin: 0px;
  }
  .comparision-table tbody {
    color: #a1a1a1;
  }
  .comparision-table table thead tr {
    background-color: #e4e4e4;
    height: 60px;
  }
  .comparision-table table tbody tr {
    color: #a8a8a8;
    font-size: 16px;
    font-weight: bold;
    padding-top: 20px;
    background-color: #f7f7f7;
    background-image: url("../media/table-tr-bg.png");
    background-size: 100% 170px;
  }
  .comparision-table table tbody tr td {
    padding: 35px 0 30px 0;
  }
  .comparision-table button {
    border: none;
    font-size: 0.9em;
    background-color: #f90d26;
    color: #ffffff;
    padding: 5px 20px;
  }
  .comparision-table img {
    width: 120px;
  }
  .comparision-table img.icons {
    width: 10px;
    margin-right: 5px;
  }
  .comparision-table .first-td {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    font-size: 14px;
    font-weight: normal;
    margin-top: 25px;
  }
  .comparision-table table thead tr th {
    /* line-height: 40px; */
    line-height: 15px;
  }
  .comparision-table .sort-icons {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-top: -13px;
  }
  .comparision-table .sort-icons .fa-sort-up {
    padding: 0;
    margin-top: 12px;
  }
  .comparision-table .sort-icons .fa-sort-down {
    margin-top: 10px;
  }
  .no-record-main-div {
    width: 100%;
    border: 1px solid orange;
  }
  .comparision small {
    margin-top: 10px;
    font-size: 12px;
    padding: 12px 0px;
    color: black;
    font-weight: 600;
  }
  .small2 {
    color: #2588fe;
    text-decoration: underline;
  }
  @media only screen and (max-width: 1400px) {
    .comparision-table table tbody tr,
    .comparision-table table head tr {
      font-size: 13px;
    }
  }
  @media only screen and (max-width: 1240px) {
    .comparision-table table tbody tr,
    .comparision-table table head tr {
      font-size: 12px;
    }
    .comparision-form-row3 table tbody tr td p {
      font-size: 11px;
    }
  }
  
  @media only screen and (max-width: 1130px) {
    .comparision-table {
      padding: 0 10px 30px 10px;
    }
  }
  @media only screen and (max-width: 1050px) {
    .comparision-table table tbody tr,
    .comparision-table table head tr {
      font-size: 11px;
    }
    .comparision-form-row3 table tbody tr td p {
      font-size: 10px;
    }
  }
  @media only screen and (max-width: 980px) {
    .comparision-table table {
      font-size: 10px;
    }
    .comparision-table table tbody tr,
    .comparision-table table head tr {
      font-size: 10px;
    }
    .comparision small {
      font-size: 10px;
    }
    .comparision-form-row3 table tbody tr td p {
      font-size: 10px;
    }
    .comparision-table table tbody tr td {
      padding: 30px 0 10px 0;
    }
    .add-to-table-div {
      margin: 0;
    }
    .comparision-table .first-td {
      font-size: 10px;
    }
    .comparision-table button {
      padding: 0px 10px;
    }
  }
  @media only screen and (max-width: 1215px) {
    .comparision-table table tbody tr,
    .comparision-table table head tr {
      /* font-size: 15px; */
      font-weight: bold;
      padding-top: 20px;
    }
  }
  /* comparision table ends */
  
  /*---------Comparision ENDS---------*/
  /*---------MEDIA QUERIES STARTS---------*/
  @media only screen and (min-width: 1101px) and (max-width: 1199px) {
    /*---------Comparision Start---------*/
    .container1 {
      width: 90%;
      margin: 20px auto 20px auto;
    }
  
    .Instructions .container1 p {
      color: #7a7a7a;
      font-size: 14px;
      line-height: 20px;
      text-align: justify;
    }
  
    .picDivi {
      position: relative;
      width: 268px;
      height: 380px;
      margin: 25px auto 0px auto;
    }
  
    .picDivx {
      position: absolute;
      width: 100px;
      height: 350px;
      background-color: #ff002a;
      margin: -30px 0px 0px 165px;
    }
  
    .picDivy {
      position: absolute;
      width: 240px;
      height: 348px;
    }
  }
  @media only screen and (max-width: 1199px) {
    .input1 {
      width: 136px;
    }
    .input2 {
      width: 130px;
    }
    .label label {
      padding-left: 10px;
    }
    .to {
      padding-left: 38px;
    }
  
    .com_sec4_line1_col h6 {
      font-size: 16px;
      padding-top: 20px;
    }
    .comparision-form-row3_col h6 {
      font-size: 14px;
    }
    .com_sec4_line1_col7_row1 img {
      padding-right: 2px;
      margin-left: -6px;
    }
    .com_sec4_line1_col7_row2 img {
      margin-left: -6px;
    }
    .com_sec4_line1_col7_row1 a {
      font-size: 11px;
      padding: 0px;
    }
    .com_sec4_line1_col7_row2 a {
      font-size: 15px;
      letter-spacing: -1px;
      line-height: 40px;
    }
    .com_sec4_line1_col7_row3 p {
      font-size: 12px;
    }
    .com_sec4_line1 button {
      margin-top: 10px;
    }
    .com_sec4_line1 {
      padding: 20px 0px 15px 0px;
    }
  }
  
  /*Medium*/
  @media only screen and (max-width: 991px) {
    /*---------Comparision Start---------*/
  
    .locate h1 {
      transform: rotate(0deg);
      -o-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      font-size: 40px;
      letter-spacing: -3px;
      font-weight: bold;
      height: 60px;
      width: 100%;
      margin-top: 0px;
      margin-left: 0px;
    }
    .comparision {
      padding: 0% 0% 0% 0%;
    }
    .container {
      margin-left: 0px;
      margin-right: 0px;
      max-width: 100%;
    }
    .container1 {
      width: 100%;
      margin: 0px auto 20px auto;
    }
    .comparision-form-row label {
      font-weight: bold;
      margin-right: 0px;
    }
    .label label {
      padding-left: 0px;
      font-size: 18px;
    }
    .to {
      padding-left: 50px;
      margin-left: -20px;
    }
    .input1 {
      width: 150px;
      margin-left: -10px;
    }
    .input2 {
      width: 200px;
      margin-left: 15px;
    }
    .form-control {
      border-radius: 0px;
      border-bottom: 2px solid white;
      color: white;
    }
    .comparision-form-btn {
      border: 0px solid black;
      color: #fff;
      background-color: #000;
      margin-top: 30px;
      border-radius: 0px;
      width: 70%;
      height: 40px;
      font-size: 20px;
      font-weight: bold;
      margin-left: 120px;
    }
    .comparision-form-row2 {
      padding: 20px 30px 20px 30px;
      height: auto;
      background-color: #c3c3c3;
    }
    .opt {
      float: left;
    }
  
    .dropdown2 {
      height: 160px;
    }
  
    .Instructions.container1 p {
      color: #7a7a7a;
      font-size: 14px;
      text-align: justify;
    }
    .divTextBackground {
      min-height: 380px;
    }
    .comparision-form-row3_col h6 {
      font-size: 13px;
    }
  }
  @media only screen and (max-width: 920px) {
    .com_sec4_line1_col7_row1 img {
      padding-right: 2px;
      margin-left: -10px;
    }
  }
  @media only screen and (max-width: 875px) {
    /*---------Comparision Start---------*/
    .comparision-form-row2 .input-search {
    }
    .comparision-form-row2 .dropdownsC {
    }
    .label label {
      margin-left: -4px;
    }
  
    .input1 {
      width: 140px;
      margin-left: -10px;
    }
    .input2 {
      width: 180px;
      margin-left: 15px;
    }
    .picDivi {
      position: relative;
      width: 218px;
      height: 330px;
      margin: 25px auto 0px auto;
    }
  
    .picDivx {
      position: absolute;
      width: 100px;
      height: 300px;
      background-color: #ff002a;
      margin: -20px 0px 0px 130px;
    }
  
    .picDivy {
      position: absolute;
      width: 200px;
      height: 308px;
    }
  
    .instruct h1 {
      font-size: 55px;
      margin-top: -30px;
    }
    .comparision-form-row3_col h6 {
      font-size: 12px;
    }
    .com_sec4_line1_col h6 {
      font-size: 14px;
      margin-left: -20px;
    }
    .com_sec4_line1_col7_row1 img {
      padding-right: 1px;
      margin-left: -15px;
    }
    .com_sec4_line1_col7_row2 img {
      padding-right: 2px;
      margin-left: -15px;
    }
    .com_sec4_line1_col7_row1 a {
      font-size: 11px;
      padding: 0px;
    }
    .com_sec4_line1_col7_row2 a {
      font-size: 14px;
      line-height: 30px;
    }
    .com_sec4_line1_col7_row3 p {
      margin-left: -15px;
    }
    .com_sec4_line1 button {
      margin-left: -10px;
      font-size: 15px;
    }
    .com_sec4_line1 {
      padding: 15px 0px 15px 0px;
    }
  }
  @media only screen and (max-width: 836px) {
    .input1 {
      width: 125px;
      margin-left: -10px;
    }
    .input2 {
      width: 170px;
      margin-left: 15px;
    }
    .to {
      padding-left: 42px;
      margin-left: -20px;
    }
    .label label {
      font-size: 16px;
    }
    .com_sec4_line1_col7_row1 img {
      padding-right: 0px;
      margin-left: -18px;
    }
    .com_sec4_line1_col7_row1 a {
      font-size: 10px;
    }
    .com_sec4_line1 button {
      margin-left: -15px;
    }
  }
  @media only screen and (max-width: 778px) {
    .com_sec4_line1_col7_row3 p {
      font-size: 11px;
    }
  }
  @media only screen and (min-width: 876px) and (max-width: 1100px) {
    .instruct {
      padding-left: 50px;
    }
  }
  /*small*/
  @media only screen and (max-width: 767px) {
    /*---------Comparision Start---------*/
    .label label {
      font-size: 20px;
    }
    label {
      width: 80px;
      padding-right: 0px;
    }
    .to {
      padding-right: 60px;
      margin-left: -50px;
    }
    .input1 {
      width: 200px;
    }
    .input2 {
      width: 200px;
      margin-left: 30px;
    }
    .comparision-form-btn {
      margin-left: 30px;
    }
    .comparision-form-row2 {
      padding: 20px 10px 20px 10px;
    }
    .comparision-form-row2 .input-search {
      margin-right: 0px;
      margin-left: 0px;
    }
    .dropdown2 {
      height: 140px;
    }
  
    .picDivi {
      position: relative;
      width: 240px;
      height: 350px;
      margin: 8% auto 0% auto;
    }
  
    .picDivx {
      position: absolute;
      width: 90px;
      height: 300px;
      background-color: #ff002a;
      margin: -20px 0px 0px 150px;
    }
  
    .picDivy {
      position: absolute;
      width: 210px;
      height: 320px;
    }
  
    .container1 {
      width: 100%;
      margin: 20px auto 20px auto;
    }
  
    .Instructions .container1 p {
      font-size: 14px;
      line-height: 20px;
    }
    .instruct h1 {
      font-size: 50px;
    }
    .container .com_sec4 {
      display: none;
    }
    .com_sec4 {
      display: none;
    }
    .small_table {
      display: block;
    }
    .small_table {
      background-color: #f0f0f0;
    }
    .com_table {
      background-color: #f7f7f7;
      text-align: center;
      margin: 10px 0px;
      height: 110px;
      padding-top: 15px;
    }
    .com_tab {
      background-color: #cfcdcd;
      color: #555555;
      text-align: center;
      margin: 10px 0px;
      height: 110px;
      padding-top: 15px;
    }
    .com_tab h6 {
      padding-top: 25px;
    }
    .com_table h6 {
      color: #a8a8a8;
      font-size: 20px;
      font-weight: bold;
      padding-top: 20px;
    }
    .com_table button {
      border: none;
      font-size: 18px;
      width: 100px;
      height: 50px;
      background-color: #f90d26;
      color: #ffffff;
      margin-top: 10px;
    }
    .com_sec4_line1_col7_row1 img {
      padding-right: 2px;
      margin-left: 0px;
    }
    .com_sec4_line1_col7_row2 img {
      margin-left: 0px;
    }
    .com_sec4_line1_col7_row1 a {
      font-size: 12px;
    }
    .com_sec4_line1_col7_row2 a {
      font-size: 17px;
      letter-spacing: -1px;
      line-height: 40px;
    }
    .com_sec4_line1_col7_row3 p {
      font-size: 14px;
      margin-left: 0px;
    }
  }
  @media only screen and (max-width: 653px) {
    .input1 {
      width: 170px;
    }
    .input2 {
      width: 170px;
      margin-left: 30px;
    }
    .to {
      padding-right: 60px;
      margin-left: -65px;
    }
  }
  /*extra small*/
  @media only screen and (max-width: 768px) {
    /*---------Comparision Start---------*/
    .comparision-form-row2 .dropdownsC {
      width: 100%;
      margin-top: 10px;
      margin-left: 0px;
      padding: 0;
    }
    /*---------Comparision Ends---------*/
  }
  @media only screen and (max-width: 575px) {
    /*---------Comparision Start---------*/
    .label {
      margin: 20px auto 0px auto;
    }
    .to {
      padding-left: 20px;
    }
    .input1 {
      width: 240px;
    }
    .input2 {
      width: 70%;
      margin-left: 50px;
    }
    .comparision-form-btn {
      margin-left: 50px;
    }
    .label label {
      width: 100px;
      margin-left: 0px;
      padding-left: 30px;
    }
    .comparision-form-row2 .input-search {
      margin-right: 0px;
      margin-left: 0px;
    }
    .container {
      margin-left: 0px;
      margin-right: 0px;
      max-width: 100%;
    }
    .instruct h1 {
      font-size: 50px;
      margin-top: -70px;
    }
  
    .picDivi {
      position: relative;
      width: 190px;
      height: 320px;
      margin: 8% auto 0% auto;
    }
  
    .picDivx {
      position: absolute;
      width: 100px;
      height: 300px;
      background-color: #ff002a;
      margin: -20px 0px 0px 115px;
    }
  
    .picDivy {
      position: absolute;
      width: 190px;
      height: 320px;
    }
  }
  
  @media only screen and (max-width: 576px) {
    .locate h1 {
      height: 20px;
    }
  }
  @media only screen and (max-width: 465px) {
    .input1 {
      width: 210px;
    }
    .comparision-form-btn {
      margin-left: 50px;
    }
    .label label {
      padding-left: 0px;
      font-size: 18px;
    }
  }
  
  @media only screen and (max-width: 410px) {
    .label label {
      text-align: justify;
    }
    .input1 {
      width: 90%;
      margin-left: 0px;
    }
    .input2 {
      margin-left: 0px;
      width: 95%;
    }
    .comparision-form-btn {
      margin-left: 0px;
      width: 95%;
    }
  }
  @media only screen and (max-width: 349px) {
    .to {
      margin-left: 0px;
      padding-right: 0px;
    }
  }
  /*extra small*/
  @media only screen and (max-width: 320px) {
    /*---------Comparision Start---------*/
    .container {
      margin-left: 0px;
      margin-right: 0px;
      max-width: 100%;
    }
  
    .instruct h1 {
      font-size: 40px;
      width: 300px;
      margin-top: -60px;
    }
    .picDivi {
      position: relative;
      width: 180px;
      height: 310px;
      margin: 8% auto 0% auto;
    }
  
    .picDivx {
      position: absolute;
      width: 90px;
      height: 280px;
      background-color: #ff002a;
      margin: -20px 0px 0px 100px;
    }
  
    .picDivy {
      position: absolute;
      width: 170px;
      height: 300px;
    }
    .comparision-form-row2 .input-search {
      margin-right: 0px;
      margin-left: 0px;
    }
  }
  
  /*---------MEDIA QUERIES ENDS---------*/
  @media only screen and (max-width: 576px) {
    .picture img {
      display: block;
      margin: 0 auto;
    }
  }
  
  
  .comparision-website-text{
    cursor:pointer;
    background:#cfcdcd; border-radius:10px;
    color: black;
    margin-top: 10px;
    /* box-shadow:1px 1px 10px #b9a8a8 */
  }
  .comparision-website-text:hover{
    cursor:pointer;
    background:#cfcdcd; border-radius:10px;
    /* box-shadow:1px 8px 10px #b9a8a8 */
  }
  
  /*THE END */