@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.mi-second-headng {
    letter-spacing: -3px;
    line-height: 1.2;
}

.span-1 {
    display: inline-block;
    white-space: nowrap;
    animation-fill-mode: both;
    backface-visibility: visible;
    animation-duration: 1000ms;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    opacity: 1;
    /* animation-name: react-reveal-684186077273204-7; */
}

.span-2 {
    display: inline-block;
    white-space: nowrap;
    animation-fill-mode: both;
    backface-visibility: visible;
    animation-duration: 1024ms;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    opacity: 1;
    /* animation-name: react-reveal-684186077273204-7; */
}

.span-3 {
    display: inline-block;
    white-space: nowrap;
    animation-fill-mode: both;
    backface-visibility: visible;
    animation-duration: 1049ms;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    opacity: 1;
    /* animation-name: react-reveal-684186077273204-7; */
}

.span-4 {
    display: inline-block;
    white-space: nowrap;
    animation-fill-mode: both;
    backface-visibility: visible;
    animation-duration: 1074ms;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    opacity: 1;
    /* animation-name: react-reveal-684186077273204-7; */
}

.span-5 {
    display: inline-block;
    white-space: nowrap;
    animation-fill-mode: both;
    backface-visibility: visible;
    animation-duration: 1100ms;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    opacity: 1;
    /* animation-name: react-reveal-684186077273204-7; */
}

.span-6 {
    display: inline-block;
    white-space: nowrap;
    animation-fill-mode: both;
    backface-visibility: visible;
    animation-duration: 1127ms;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    opacity: 1;
    /* animation-name: react-reveal-684186077273204-7; */
}

.span-7 {
    display: inline-block;
    white-space: nowrap;
    animation-fill-mode: both;
    backface-visibility: visible;
    animation-duration: 1154ms;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    opacity: 1;
    /* animation-name: react-reveal-684186077273204-7; */
}

.span-8 {
    display: inline-block;
    white-space: nowrap;
    animation-fill-mode: both;
    backface-visibility: visible;
    animation-duration: 1182ms;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    opacity: 1;
    /* animation-name: react-reveal-684186077273204-7; */
}

.span-9 {
    display: inline-block;
    white-space: nowrap;
    animation-fill-mode: both;
    backface-visibility: visible;
    animation-duration: 1211ms;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    opacity: 1;
    /* animation-name: react-reveal-684186077273204-7; */
}

.span-10 {
    display: inline-block;
    white-space: nowrap;
    animation-fill-mode: both;
    backface-visibility: visible;
    animation-duration: 1240ms;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    opacity: 1;
    /* animation-name: react-reveal-684186077273204-7; */
}

.span-11 {
    display: inline-block;
    white-space: nowrap;
    animation-fill-mode: both;
    backface-visibility: visible;
    animation-duration: 1270ms;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    opacity: 1;
    /* animation-name: react-reveal-684186077273204-7; */
}

.span-12 {
    display: inline-block;
    white-space: nowrap;
    animation-fill-mode: both;
    backface-visibility: visible;
    animation-duration: 1301ms;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    opacity: 1;
    /* animation-name: react-reveal-684186077273204-7; */
}

.span-13 {
    display: inline-block;
    white-space: nowrap;
    animation-fill-mode: both;
    backface-visibility: visible;
    animation-duration: 1332ms;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    opacity: 1;
    /* animation-name: react-reveal-684186077273204-7; */
}

.span-14 {
    display: inline-block;
    white-space: nowrap;
    animation-fill-mode: both;
    backface-visibility: visible;
    animation-duration: 1364ms;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    opacity: 1;
    /* animation-name: react-reveal-684186077273204-7; */
}

.span-15 {
    display: inline-block;
    white-space: nowrap;
    animation-fill-mode: both;
    backface-visibility: visible;
    animation-duration: 1397ms;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    opacity: 1;
    /* animation-name: react-reveal-684186077273204-7; */
}

.span-16 {
    display: inline-block;
    white-space: nowrap;
    animation-fill-mode: both;
    backface-visibility: visible;
    animation-duration: 1431ms;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    opacity: 1;
    /* animation-name: react-reveal-684186077273204-7; */
}

.span-17 {
    display: inline-block;
    white-space: nowrap;
    animation-fill-mode: both;
    backface-visibility: visible;
    animation-duration: 1466ms;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    opacity: 1;
    /* animation-name: react-reveal-684186077273204-7; */
}

.span-18 {
    display: inline-block;
    white-space: nowrap;
    animation-fill-mode: both;
    backface-visibility: visible;
    animation-duration: 1501ms;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    opacity: 1;
    /* animation-name: react-reveal-684186077273204-7; */
}

.span-19 {
    display: inline-block;
    white-space: nowrap;
    animation-fill-mode: both;
    backface-visibility: visible;
    animation-duration: 1538ms;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    opacity: 1;
    /* animation-name: react-reveal-684186077273204-7; */
}

.span-20 {
    display: inline-block;
    white-space: nowrap;
    animation-fill-mode: both;
    backface-visibility: visible;
    animation-duration: 1575ms;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    opacity: 1;
    /* animation-name: react-reveal-684186077273204-7; */
}

.span-21 {
    display: inline-block;
    white-space: nowrap;
    animation-fill-mode: both;
    backface-visibility: visible;
    animation-duration: 1613ms;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    opacity: 1;
    /* animation-name: react-reveal-684186077273204-7; */
}

.span-22 {
    display: inline-block;
    white-space: nowrap;
    animation-fill-mode: both;
    backface-visibility: visible;
    animation-duration: 1652ms;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    opacity: 1;
    /* animation-name: react-reveal-684186077273204-7; */
}

.span-23 {
    display: inline-block;
    white-space: nowrap;
    animation-fill-mode: both;
    backface-visibility: visible;
    animation-duration: 1692ms;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    opacity: 1;
    /* animation-name: react-reveal-684186077273204-7; */
}

.span-24 {
    display: inline-block;
    white-space: nowrap;
    animation-fill-mode: both;
    backface-visibility: visible;
    animation-duration: 1733ms;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    opacity: 1;
    /* animation-name: react-reveal-684186077273204-7; */
}

.span-25 {
    display: inline-block;
    white-space: nowrap;
    animation-fill-mode: both;
    backface-visibility: visible;
    animation-duration: 1775ms;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    opacity: 1;
    /* animation-name: react-reveal-684186077273204-7; */
}

.span-26 {
    display: inline-block;
    white-space: nowrap;
    animation-fill-mode: both;
    backface-visibility: visible;
    animation-duration: 1818ms;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    opacity: 1;
    /* animation-name: react-reveal-684186077273204-7; */
}

.span-27 {
    display: inline-block;
    white-space: nowrap;
    animation-fill-mode: both;
    backface-visibility: visible;
    animation-duration: 1862ms;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    opacity: 1;
    /* animation-name: react-reveal-684186077273204-7; */
}

.span-28 {
    display: inline-block;
    white-space: nowrap;
    animation-fill-mode: both;
    backface-visibility: visible;
    animation-duration: 1907ms;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    opacity: 1;
    /* animation-name: react-reveal-684186077273204-7; */
}

.span-29 {
    display: inline-block;
    white-space: nowrap;
    animation-fill-mode: both;
    backface-visibility: visible;
    animation-duration: 1953ms;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    opacity: 1;
    /* animation-name: react-reveal-684186077273204-7; */
}

.Footer .picture,
.picture2 {
    margin-top: -50px;
}

.SO-span-1 {
    display: inline-block;
    white-space: pre;
    animation-fill-mode: both;
    backface-visibility: visible;
    animation-duration: 3000ms;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    opacity: 1;
    /* animation-name: react-reveal-62426530142162-1; */
}

.SO-span-2 {
    display: inline-block;
    white-space: pre;
    animation-fill-mode: both;
    backface-visibility: visible;
    animation-duration: 3164ms;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    opacity: 1;
    /* animation-name: react-reveal-62426530142162-1; */
}

.SO-span-3 {
    display: inline-block;
    white-space: pre;
    animation-fill-mode: both;
    backface-visibility: visible;
    animation-duration: 3338ms;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    opacity: 1;
    /* animation-name: react-reveal-62426530142162-1; */
}

.SO-span-4 {
    display: inline-block;
    white-space: pre;
    animation-fill-mode: both;
    backface-visibility: visible;
    animation-duration: 3520ms;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    opacity: 1;
    /* animation-name: react-reveal-62426530142162-1; */
}

.SO-span-5 {
    display: inline-block;
    white-space: pre;
    animation-fill-mode: both;
    backface-visibility: visible;
    animation-duration: 3713ms;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    opacity: 1;
    /* animation-name: react-reveal-62426530142162-1; */
}

.SO-span-6 {
    display: inline-block;
    white-space: pre;
    animation-fill-mode: both;
    backface-visibility: visible;
    animation-duration: 3917ms;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    opacity: 1;
    /* animation-name: react-reveal-62426530142162-1; */
}

.SO-span-7 {
    display: inline-block;
    white-space: pre;
    animation-fill-mode: both;
    backface-visibility: visible;
    animation-duration: 4131ms;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    opacity: 1;
    /* animation-name: react-reveal-62426530142162-1; */
}

.SO-span-8 {
    display: inline-block;
    white-space: pre;
    animation-fill-mode: both;
    backface-visibility: visible;
    animation-duration: 4357ms;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    opacity: 1;
    /* animation-name: react-reveal-62426530142162-1; */
}

.SO-span-9 {
    display: inline-block;
    white-space: pre;
    animation-fill-mode: both;
    backface-visibility: visible;
    animation-duration: 4596ms;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    opacity: 1;
    /* animation-name: react-reveal-62426530142162-1; */
}

.SO-span-10 {
    display: inline-block;
    white-space: pre;
    animation-fill-mode: both;
    backface-visibility: visible;
    animation-duration: 4848ms;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    opacity: 1;
    /* animation-name: react-reveal-62426530142162-1; */
}

.SO-span-11 {
    display: inline-block;
    white-space: pre;
    animation-fill-mode: both;
    backface-visibility: visible;
    animation-duration: 5113ms;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    opacity: 1;
    /* animation-name: react-reveal-62426530142162-1; */
}

.SO-span-12 {
    display: inline-block;
    white-space: pre;
    animation-fill-mode: both;
    backface-visibility: visible;
    animation-duration: 5393ms;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    opacity: 1;
    /* animation-name: react-reveal-62426530142162-1; */
}

.SO-span-13 {
    display: inline-block;
    white-space: pre;
    animation-fill-mode: both;
    backface-visibility: visible;
    animation-duration: 5688ms;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    opacity: 1;
    /* animation-name: react-reveal-62426530142162-1; */
}

.forget_pass {
    color: rgb(232, 5, 28);
    font-weight: 700;
    text-decoration: underline rgb(232, 5, 28);
    cursor: pointer;
    font-size: 12px;
}

.create_acc {
    color: rgb(232, 5, 28);
    font-weight: 700;
    text-decoration: underline rgb(232, 5, 28);
    cursor: pointer;
}

.Contact_Us_sec2_col2_text a {
    text-decoration: none;
    color: inherit;
}

.back-arrow-button a {
    color: #fff;
}

.back-arrow-button:hover a {
    color: #f90d26;
}

.top-right.links span.log-link {
    font-size: 16px;
}

.scale-up-center {
    -webkit-animation: scale-up-center 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


/*****-- FIX MOBILE ISSUES --****/

@media only screen and (max-width: 780px) {
    .footer {
        margin-top: 20px;
        text-align: center;
    }
    .Footer .picture,
    .picture2 {
        height: auto;
    }
    .contact,
    .followus {
        /*        margin-top: 30px !important; */
    }
    .Footer .picture img {
        display: block;
        margin: 0 auto 60px;
    }
}

@media only screen and (max-width: 768px) {
    .contact,
    .followus {
        margin-top: 30px !important;
    }
    .mi-second-headng {
        letter-spacing: -1px;
    }
    .about-us h1 {
        padding-top: 40px;
    }
    .newsK h1 {
        letter-spacing: -1px;
    }
}


/*****-- FIX MOBILE ISSUES --****/


/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */

.whychoooseus {
    animation-fill-mode: both;
    animation-duration: 1000ms;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    opacity: 1;
    /* animation-name: react-reveal-173020880468990-2; */
}

@keyframes react-reveal-173020880468990-2 {
    from {
        left: 10px;
    }
    to {
        left: 200px;
    }
}

.wrap {
    width: 130px;
    height: 230px;
    background-color: #fff;
    margin-top: 120px;
}

.yaxis-slider {
    width: 130px;
    height: 230px;
    margin: 50px auto;
    overflow: hidden;
}

.yaxis-slider__row {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    left: 0;
    height: 1536px;
    overflow: hidden;
    transition: 0.5s;
}

.yaxis-row__item {
    min-width: 100%;
    margin: 0;
    position: relative;
    text-align: center;
    background: #000;
}

.footer {
    padding-bottom: 20px;
}

a.signin-link:hover,
a.register-link:hover {
    text-decoration: none;
    color: red !important;
}

@media screen and (max-width: 425px) {
    .divBlack {
        border-radius: 10px;
    }
    .divBlack h3 {
        border-radius: 10px;
        display: block;
        margin: auto !important;
        width: 60%;
        height: 40px;
    }
    .our-mission h1 {
        font-size: 22px;
        margin-top: -70px;
    }
    .about-us-wrapper .container1 {
        width: 90%;
        padding: 130px 0 0px;
    }
    .companyOverviewContentRow5 .container1 .divBlack p {
        text-align: center;
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media screen and (min-width: 768px) {
    .whyChooseUs-row {
        margin-bottom: -10px;
    }
}

@media screen and (max-width: 1140px) and (min-width: 768px) {
    .whyChooseUs-div {
        padding-left: 50px !important;
    }
    .latest-news-paragraph-col {
        padding-left: 50px !important;
    }
}

@media only screen and (max-width: 900px) {
    .footer {
        margin-top: 0px !important;
    }
}

@media only screen and (max-width: 900px) {
    .Footer .picture,
    .picture2 {
        height: 360;
    }
}

@media only screen and (max-width: 780px) {
    .Footer .picture app-stores img {
        display: block;
        margin: 0 auto 60px;
    }
}

@media only screen and (max-width: 1192px) {
    .footer {
        margin-top: 0px;
    }
}

@media screen and (max-width: 768px) and (min-width: 577px) {
    .Footer .picture img {
        display: inline-block;
        margin: 31px auto 60px;
    }
}

@media screen and (max-width: 900px) and (min-width: 769px) {
    .promotionbanner {
        display: inline-block;
        margin: -30px 0px;
        text-align: left;
    }
    .promotionbanner p {
        text-align: left !important;
    }
    .Footer .picture img {
        display: inline-block;
        margin: 31px auto 60px;
    }
}

@media screen and (max-width: 992px) and (min-width: 901px) {
    .Footer .picture,
    .picture2 {
        height: 400;
    }
    .promotionbanner {
        display: inline-block;
        margin: -30px 0px;
        text-align: left;
    }
    .promotionbanner p {
        text-align: left !important;
    }
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
    .Footer .picture,
    .picture2 {
        height: 460;
    }
}

@media(min-width:760px) and (max-width:768px) {
    .contact-links h5,
    h5.contact,
    h5.followus {
        margin-top: 30px;
        margin-bottom: 20px;
        min-width: 150px;
    }
    .footer-links {
        display: none;
        display: -webkit-flex;
        width: 100%;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        justify-content: center;
    }
}

@media screen and (max-width:426px) {
    .d-none-mobile {
        display: none;
    }
}

.Footer .picture h1 {
    margin-top: 80px;
}

@media only screen and (max-width: 768px) {
    .Contact_Us_sec2_col1 {
        padding-bottom: 60px;
    }
}

@media only screen and (max-width: 991px) {
    .form h2 {
        font-size: 3.5rem;
    }
}

@media only screen and (max-width:768px) {
    .companyOverviewContentRow5 .container1 .divBlack p {
        font-size: 17px;
    }
    .divBlack h3 {
        font-size: 18px;
        line-height: 40px;
    }
}

span.sub_heading_privacy {
    line-height: 34px;
}

.terms-Para, .privacy-Para, .cookies-Para{
    text-align: left !important;
}
.terms-Para span,.privacy-Para span, .cookies-Para span{
    line-height: 0.9;
    font-size: 36pt !important;
    color: rgb(249, 13, 38) !important;
   
}
.head-Para,.sub-Para{
    font-size: 24pt;
}
@media only screen and (max-width:426px){
    .terms-Para span, .privacy-Para span, .cookies-Para span{
        line-height: 0.9;
        font-size: 28pt !important;
    }
}
@media only screen and (max-width:376px){
    .terms-Para span, .privacy-Para span, .cookies-Para span{
        line-height: 0.9;
        font-size: 26pt !important;
    }
}
@media only screen and (max-width:321px){
    .terms-Para span, .privacy-Para span, .cookies-Para span{
        line-height: 0.9;
        font-size: 22pt !important;
    }
}
.head-Para span,.sub-Para span{
    font-size: 24pt !important;
}

@media only screen and (max-width:1024px){
    .head-Para span,.sub-Para span{
        font-size: 20pt !important;
    }
    
}
@media only screen and (max-width:768px){
    .head-Para span,.sub-Para span{
        font-size: 18pt !important;
    }
    
}
@media only screen and (max-width:426px){
    .head-Para span,.sub-Para span{
        font-size: 15pt !important;
    }
    
}
@media only screen and (max-width:376px){
    .head-Para span,.sub-Para span{
        font-size: 15pt !important;
    }
    
}

@media only screen and (max-width:426px){
    .second-heading {
        -webkit-text-stroke: 1px;
    }    
}


@media only screen and (max-width:426px){
    .about-us h1 {
        letter-spacing: 1px;
        -webkit-text-stroke: 0.1rem #fff;
        transform: translateY(60px);

    }
}


@media only screen and (max-width:321px){
    .newsK h1 {
      letter-spacing: -3;
      transform: translateY(30px);

    }
}
