/*//////////////////////////////////////////////////////////////////////////*/


/*/////////////////////////////////////COOKIES STARTS/////////////////////////////////////*/


/*//////////////////////////////////////////////////////////////////////////*/

.cookies {
    padding: 4% 0% 0% 0%;
}

p {
    margin-bottom: 1.5rem !important;
    font-size: 16px;
    line-height: 21px;
}

.cookies .container1 h1 {
    font-size: 80px;
    font-weight: bold;
    color: #e5e5e5;
    line-height: 30px;
    letter-spacing: -6px;
    z-index: 1;
    margin: 0px 0px -15px 80px;
}

.cookies .container1 img {
    position: relative;
    width: 100%;
    z-index: 2;
    margin-top: 30px;
}

.cookies .container1 .cookiesRedLine {
    position: relative;
    width: 5px;
    height: 160px;
    background-color: #F40019;
    z-index: 2;
    margin: -100px 0px 0px 15px;
}

.cookies .container1 .cookiesContent {
    width: 84%;
    max-width: 1120px;
    margin: 0 auto;
}

.cookies .container1 h2 {
    font-size: 50px;
    font-weight: bold;
    color: #F90D26;
    letter-spacing: 0px;
}

.cookies .container1 h4 {
    font-size: 32px;
    font-weight: bold;
    color: #000000;
    letter-spacing: 0px;
    margin: -10px 0px 30px 0px;
}

.cookies .container1 h6 {
    font-weight: bold;
    color: #000000;
    margin-top: 20px;
}

.cookies .container1 span {
    font-size: 1rem;
    font-weight: bold;
    color: #000000;
    margin-top: 20px;
    line-height: 1.1;
}

.cookies .container1 ul {
    color: #7A7A7A;
    margin-left: 20px;
}

@media only screen and (min-width: 767px) and (max-width: 900px) {
    .cookies .container1 h1 {
        font-size: 70px;
        margin: 0px 0px -13px 50px;
    }
}

@media only screen and (min-width: 575px) and (max-width: 768px) {
    .cookies .container1 .cookiesContent {
        width: 100%;
        max-width: 1120px;
        margin: 0 auto;
    }
    .cookies .container1 h1 {
        font-size: 52px;
        letter-spacing: -5px;
        margin: 0px 0px -9px 30px;
    }
    .cookies .container1 .cookiesRedLine {
        width: 4px;
        height: 100px;
        margin: -70px 0px 0px 15px;
    }
}

@media only screen and (min-width: 399px) and (max-width: 576px) {
    .cookies .container1 .cookiesContent {
        width: 100%;
        max-width: 1120px;
        margin: 0 auto;
    }
    .cookies .container1 h1 {
        font-size: 52px;
        letter-spacing: -4px;
        text-align: center;
        margin: 0px 0px -9px 0px;
    }
    .cookies .container1 .cookiesRedLine {
        width: 4px;
        height: 90px;
        margin: -70px 0px 0px 10px;
    }
    .cookies .container1 h2 {
        font-size: 34px;
    }
    .cookies .container1 h4 {
        font-size: 22px;
    }
}

@media only screen and (max-width: 400px) {
    .cookies .container1 .cookiesContent {
        width: 100%;
        max-width: 1120px;
        margin: 0 auto;
    }
    .cookies .container1 h1 {
        font-size: 40px;
        text-align: center;
        letter-spacing: -2px;
        margin: 0px 0px -8px 0px;
    }
    .cookies .container1 .cookiesRedLine {
        width: 3px;
        height: 60px;
        margin: -45px 0px 0px 10px;
    }
    .cookies .container1 h2 {
        font-size: 28px;
    }
    .cookies .container1 h4 {
        font-size: 18px;
    }
    /* .cookies .container1 p {
        line-height: 20px;
    } */
}


/*//////////////////////////////////////////////////////////////////////////*/


/*/////////////////////////////////////COOKIES ENDS/////////////////////////////////////*/


/*//////////////////////////////////////////////////////////////////////////*/